@import "globalStyles/vars";

.container {
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 50px;
}

.logoImg {
    margin-bottom: 20px;
    overflow: hidden;
    img {
        width: 60vw;
        max-height: 250px;

        object-fit: contain;
        object-position: center;
        margin: 0 auto;
    }
}

.filters {
    margin-bottom: 40px;
}

.cards {
    margin-bottom: 60px;
}

.message {
    margin-top: 100px;
    text-align: center;
    color: #61dafb;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (max-width: $media5 + px) {
        font-size: 18px;
    }
}
